# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Python package files
*.egg-info/
*.egg

# Environment files
.env

# OS or Editor specific
.DS_Store
.vscode/
.idea/

# Git
.git
.gitignore

# Docker-related
Dockerfile
docker-compose.yml
